<!doctype html>
<html>
<head>
    <link rel="stylesheet" href="/css/style.css">
    <meta charset="utf-8" />
    {{!-- <title>{{> page/title}}</title> --}}
</head>
<body>
    <div class="app">
        {{> header}}
        <div class="container">
            {{{body}}}
        </div>

        {{> footer}}
    </div>
</body>
</html>